.feed {
//colors
$color_lochmara_approx: #0071bb;
$color_gallery_approx: #eee;
$color_shark_approx: #23252d;
$color_scarpa_flow_approx: #575b5d;
$white: #fff;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	line-height: 1.4;
	font-family: $font_0, $font_1, $font_2;
}
a {
	color: #0071BB;
	text-decoration: none;
	&:active {
		color: #0071BB;
		text-decoration: none;
	}
	&:visited {
		color: #0071BB;
		text-decoration: none;
	}
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: underline;
	}
}
#container {
	position: relative;
	width: 100%;
	margin: 0;
	background: $color_gallery_approx;
}
#header {
	height: 80px;
	background: #23252D;
}
#navigation {
	float: left;
	margin-left: 20px;
	padding: 29px 0;
	li {
		display: inline-block;
		*display: inline;
		margin-right: 20px;
		zoom: 1;
	}
}
#toggle-menu {
	display: block;
	float: right;
	height: 80px;
	width: 80px;
	cursor: pointer;
	text-indent: -99999em;
	background: url("/assets/menu-close-button.png") no-repeat center center;
}
.mobile-navigation {
	width: 0;
	height: 100%;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	background: #575B5D;
	z-index: 200;
	.close {
		display: block;
		width: 18px;
		height: 18px;
		position: absolute;
		right: 20px;
		top: 37px;
		text-indent: -99999em;
		cursor: pointer;
		background: url("/assets/menu-buton.png") no-repeat center center;
	}
	ul {
		margin: 0;
		padding: 80px 0 0 20px;
		list-style-type: none;
	}
	li {
		padding: 5px 0;
	}
	a {
		padding: 5px 0;
		color: $white;
		text-transform: uppercase;
		white-space: nowrap;
	}
}
}