@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_Regular.otf");
  font-weight:normal;
}
@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_xBold.otf");
  font-weight:bold;
}
@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_Thin.otf");
  font-weight:100;
}
@font-face {
  font-family:"Glober";
  src:url("fonts/Glober_SemiBold.otf");
  font-weight:500;
}
