<!-- Landing Page -->
<!--Feed Page-->
<!DOCTYPE html>
<html>
<head>
    <title>Ask Now</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body class="landing">
<header>
  <img class="logo" src="logo.svg"/>
</header>
<div class="container">
  <div class="slogan">
    <h1 class="landingslogan">Get <span class="bold">real-time </span>answers from <span class="bold">real </span>people </h1>
    <h3>current events, opinions, local knowledge</h3>
  </div>
  <div class="pickcity">
    <h2>Pick a city</h2>
    <button class="landingbutton">Your city name</button>
    <h4>Want to see your city?</h4>
  </div>
</div>
<footer class="landingfooter">
  <h5>Learn More</h5>
  <h5>Login</h5>
</footer>

</body>
</html>