<!--Feed Page-->
<!DOCTYPE html>
<html>
<head>
    <title>Ask Now</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--Using jQuery and jQuery UI for display effects-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!--Using the hamburger menu display code-->
    <script src="feed.js.coffee"></script>

    <!--Using Media Queries, if the viewport is smaller than 700px use another stylesheet-->
</head>
<body class="feed">
<div id="container">
		<div id="header">
			<div id="navigation">
				<ul>
					<li>
						<a href="#"><img class="log" src="/assets/logo.svg"</a>
					</li>
    </ul>
			</div>
			<span id="toggle-menu">Menu</span>
			<ul>
			  <li>
						<a href="#">Lorem Ipsum</a>
					</li>
					<li>
						<a href="#">Lorem Ipsum</a>
					</li>
					<li>
						<a href="#">Lorem Ipsum</a>
			</ul>
		</div>
	</div>

</body>
<script type="text/javascript">
		(function($){
			$(document).ready(function(){

$('#navigation').clone().prependTo('body').addClass('mobile-navigation').removeAttr('id');
$('div.mobile-navigation').prepend('<span class="close">Close</span>');

$('#toggle-menu').bind('click touch', function(){
	if( $('div.mobile-navigation').hasClass('open') ){
		$('div.mobile-navigation').animate({width: "0px"}, 300).removeClass('open');
		$('#container').animate({left: "0px"}, 300);
	} else {
		$('div.mobile-navigation').animate({width: "210px"}, 300).addClass('open');
		$('#container').animate({left: "-210px"}, 300);
	}
});

$('div.mobile-navigation span.close').bind('click touch', function(){
	$('div.mobile-navigation').animate({width: "0px"}, 300).removeClass('open');
	$('#container').animate({left: "0px"}, 300);
});

			});
				 
		})(jQuery);
        </script>
</html>
